.main-header {
  /* 1. Fixer le header en haut */
  position: fixed; 
  top: 0;
  left: 0;

  width: 100%; 

  z-index: 1000; 

  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; 
  border-bottom: 1px solid #ccc;

  justify-content: center;
  gap: 32px;

  margin: 0 auto;
}

.nav-container{
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 200px;
  background-color: transparent;
}

.nav-search{
  flex: 1; 
  background-color: transparent;
}
.search-container{
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  
  width: 90%;
  white-space: nowrap;
}
.search-container input {
  width: 100%;
  text-align: start;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.4em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container-left{
  margin-right: 15px;
  display: flex;
  justify-content: end;
  width: 200px;
  flex-shrink: 0;
  background-color: transparent;
}