
  .home-container {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 100%;
  margin-top: 5%;
  background: transparent;
}

/* Sidebar gauche */
.sidebar-left {
  width: 250px;
  flex-shrink: 0;
  background: transparent;
  text-align: start;
}

.sidebar-right {
  width: 300px;
  flex-shrink: 0;
  background: transparent;
}
.container-combox{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:40px;
  border: none;
  border-radius: 4px;
  align-items: center;
  gap: 10px;
}
.container-combox:hover{
  background-color: #464646;
}
.container-title{
  background-color: transparent;
  width: 100%;
}
.container-card{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:40px;
  border-bottom: none;
  border-radius: 4px;
  align-items: center;
}
.container-card:hover{
  background-color: #464646;
}
.container-modele-right{
  width:45px;
  align-content: start;
}

.modele{
  width:45px;
  height: 35px;
  border: none;
  border-radius: 4px;
}
.container-icon-left{
  width:45px;
  align-content: end;
}

.container-card-center{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  font-size: 13px;
  margin-left: 5px;
}

/* Section centrale */
.main-center {
  flex: 1; /* Prend tout l'espace restant */
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}
.container-fond{
  width: 100%;
  background-color: #3a2c1f;
  border: none;
  border-radius: 4px;
}
.container-text{
  width: 100%;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.nav-creation-boards{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.nav-link{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:40px;
  border-bottom: none;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.nav-link:hover{
  background-color: #464646;
}

/* Style de la barre latérale 
  background-color: #1d2125;
*/
.sidebar {
  width: 100%;
  color: #9fadbc;
  margin: 0%;
  font-family: sans-serif;
}

/* Éléments du menu */
.btn-sidebar {
  list-style: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.2s ease;
}

/* SURVOL (Hover) */
.btn-sidebar:hover {
  background-color: #333c44;
  color: white;
}

/* CLIC (Active) */
.btn-sidebar:active {
  background-color: #444e58;
}

/* FOCUS (Accessibilité clavier) */
.btn-sidebar:focus-visible {
  outline: 2px solid #00c2e0;
}

/* Style de la carte Premium */
.premium-card {
  background-color: #464646;
  padding: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.premium-card h3 {
  color: #dee4ea;
  font-size: 14px;
  margin-top: 0;
}

.premium-card p {
  font-size: 13px;
  line-height: 1.4;
}

.btn-trial {
  color: #58a6ff;
  text-decoration: underline;
  font-size: 13px;
}