.logout-bg {
    background-color: #ffffff; /* Fond blanc pur */
    position: relative;
    overflow: hidden;
}

.logout-illustration {
    position: absolute;
    bottom: 0;
    width: 300px;
    z-index: 0;
}

.logout-illustration.left { left: 0; }
.logout-illustration.right { right: 0; }

/* On s'assure que la carte reste au-dessus des images */
.auth-card { position: relative; z-index: 10; }